<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>NP付近のおいしいランチとの出会い</h1>
      <%= link_to 'ランチを探す' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>