<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>最新の研究とビジネスの出会い...</h1>
      <%= link_to 'RxBを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>